<h3><%= @user.name %>様</h3>
<p>
  この度は【Mgt_App】へご登録いただきまして誠にありがとうございます。<br>
  下記有効化ボタンをクリックすることで、本登録が完了となります。
</p>
<p>【ご登録されたメールアドレス】</p>
<p><%= @user.email %></p>

<p>下記のリンクをクリックしてアカウントを【<%=@user.activation_token.lifetime_text%>】以内に有効化してくださいm(_ _)m</p>
<b><<%= link_to "アカウントを有効化する", @url %></b>
<p>
  ───────────────────────────────────<br>
  ◆注意事項<br>
  ───────────────────────────────────
</p>
<p>
  ○このメールは送信専用メールアドレスから送信されています。<br>
  ○このメールに心あたりが無い場合は、誠におそれいりますが、破棄していただけますようお願いいたします。<br>
  ○有効化ボタンはセキュリティ保持のため、有効期限が設けられております。メールを受け取られたら速やかに手続きを行ってください。<br>
  ○有効化するボタンが期限切れの場合は、もう一度初めから登録の手続きをやり直してください。
</p>
<p>───────────────────────────────────</p>