<h3><%= @user.name %>様</h3>
<p>
  日頃より【Mgt_App】をご使用頂きまして、ありがとうございます。<br>
  下記emailを変更するボタンをクリックすることで、変更が完了します。
</p>
<p>【旧アドレス】</p>
<p><%= @user.email %></p>

<p>新しく変更するアドレス</p>
<p><%= @user.email_update_token %></p>


<b><<%= link_to "emailを変更する", @url %></b>
