<h3><%= @user.name %>様</h3>
<p>
  【Mgt_App】をご利用頂き誠にありがとうございます。<br>
  パスワードリセットの申請を頂きましたので認証メールをご送付させて頂きました<br>
  お心当たりがない場合は、こちらのメールを破棄して頂ければ幸いです。
  
</p>
<p>【ご登録されたメールアドレス】</p>
<p><%= @user.email %></p>

<p>【<%=@user.reset_token.lifetime_text%>】以内に下記リンクボタンを押してパスワードをリセットし、<br>再設定してくださいm(_ _)m</p>

<b><<%= link_to "パスワードをリセットする", @url %></b>
<p>
  ───────────────────────────────────<br>
  ◆注意事項<br>
  ───────────────────────────────────
</p>
<p>
  ○このメールは送信専用メールアドレスから送信されています。<br>
  ○このメールに心あたりが無い場合は、誠におそれいりますが、破棄していただけますようお願いいたします。<br>
  ○セキュリティ保持のため、有効期限が設けられております。メールを受け取られたら速やかに手続きを行ってください。<br>
  ○パスワードリセットボタンが期限切れの場合は、もう一度初めから手続きをやり直してください。
</p>
<p>───────────────────────────────────</p>
